<div class="container">
  <h2>My Events</h2>

  <%= link_to "Back to Profile", profile_path %>

  <%= link_to "Attending", profile_path %>
  <%= link_to "Hosting", profile_path %>
  <%= link_to "Past Events", profile_path %>
  
</div>
