<div class="container mt-4">
  <h2 class="mb-4">My Events</h2>

  <ul class="nav nav-tabs overflow-wrap" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="attending-tab" data-bs-toggle="tab" data-bs-target="#attending" type="button" role="tab" aria-controls="attending" aria-selected="true">Attending</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="hosting-tab" data-bs-toggle="tab" data-bs-target="#hosting" type="button" role="tab" aria-controls="hosting" aria-selected="false">Hosting</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="past-tab" data-bs-toggle="tab" data-bs-target="#past" type="button" role="tab" aria-controls="past" aria-selected="false">Past</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active mt-4" id="attending" role="tabpanel" aria-labelledby="attending-tab">
    <p>Upcoming events you are attending:</p>
      <div class="d-flex flex-wrap justify-content-between">
        <% @attending.each do |event| %>
          <%= render "shared/event_card_long", event: event %>
          <% end %>
      </div>
  </div>

  <div class="tab-pane fade mt-4" id="hosting" role="tabpanel" aria-labelledby="hosting-tab">
    <p>Upcoming events you are hosting:</p>
      <div class="d-flex flex-wrap justify-content-between">
        <% @hosting.each do |event| %>
          <%= render "shared/event_card_long", event: event %>
          <% end %>
      </div>
  </div>

  <div class="tab-pane fade mt-4" id="past" role="tabpanel" aria-labelledby="past-tab">
    <p>Your past events:</p>
    <p class="text-center">You currently don't have any past events.</p>
  </div>
<br><br>
  <div class="text-center mt-6">
    <%= link_to "Back to Profile", profile_path, class: "btn btn-outline-primary mt-3 col-6 rounded-pill" %>
  </div>
</div>
