<div class="container mt-4">
  <h2 class="mb-4">My Groups</h2>

  <ul class="nav nav-tabs overflow-wrap" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="member-tab" data-bs-toggle="tab" data-bs-target="#member" type="button" role="tab" aria-controls="member" aria-selected="true">Member</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="organiser-tab" data-bs-toggle="tab" data-bs-target="#organiser" type="button" role="tab" aria-controls="organiser" aria-selected="false">Organiser</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active mt-4" id="member" role="tabpanel" aria-labelledby="member-tab">
    <p>Groups I'm a member of displayed here</p>
  </div>

  <div class="tab-pane fade mt-4" id="organiser" role="tabpanel" aria-labelledby="organiser-tab">
    <p>Groups I'm organising displayed here</p>
  </div>

  <div class="text-center mt-6">
    <%= link_to "Back to Profile", profile_path, class: "btn btn-outline-primary" %>
  </div>
</div>
