.nav-tabs {
  flex-wrap: nowrap;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.main-post{
  background-color: grey;
  margin-bottom: 15px;
}

.related-post{
  background-color: lightgray;
  margin-bottom: 15px;
  width: 75%;
}
