.welcome-header {
  padding: 2%;
}

.img{
  display: flex;
  justify-content: center;
}

.user-img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.welcome-msg {
  text-align: center;
  padding-top: 20px;
}

.user-profile {
  margin: 20px 0px 30px 80px;
  width: 50%;
}

.fa-solid, .fas {
  color: $blue;
}
