<div class="category-bar d-flex justify-content-between">
  <% ApplicationRecord::CATEGORIES.each do |category| %>
    <%= link_to category, events_path(category: category), class: "btn btn-primary" %>
  <% end %>
</div>
