<%# <div class="category-bar d-flex justify-content-between">
  <% ApplicationRecord::CATEGORIES.each do |category| %>
    <%#link_to category, events_path(query: category), class: "btn btn-primary" %>
  <%# end %>
<%# </div> %>


  <div class="category-container">
    <div class="index-category-bar">
      <% categories = Event.pluck(:category).uniq %>
      <% categories.each do |category| %>
        <%= link_to events_path(query: category), data: { filter_target: "filter", action: "click->filter#fire"} do %>
          <div id="<%= category %>" class="item">
            <h1><%= category %></h1>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
