<div class="d-flex flex-wrap justify-content-between", data-search-groups-target="list">

  <% groups.each do |group| %>
    <%= render "shared/group_card_long", group: group %>
    <% end %>

</div>
