<%= link_to group_path(group) do %>
  <div class="group-card-long">
    <% if group.photos.attached? %>
      <%= cl_image_tag group.photos[0].key, height: 100, width: 360, crop: :fill, class: "group-card-long-image" %>
    <% else %>
      <img src="https://placehold.co/600x400" alt="Group Image 1" class="group-card-long-image">
    <% end %>
    <div class="group-card-long-details">
      <h5 class="group-card-long-title"><%= group.title %></h5>
      <%# <p class="group-card-long-members"> < pluralize(users_count.size, 'Member') ></p> %>
      <p class="group-card-long-location"><%= group.city %></p>
    </div>
  </div>
<% end %>
