<div class="level-filter">
      <div class="city-dropdown" style="margin-bottom:5px; background-color:#fff">
        <button style="border-width:0;" class=" dropdown-toggle m-0"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          <span style="font-size:1.8em; color:orange; ">Level</span>
        </button>
        <ul class="dropdown-menu">
          <li><a data-filter-target="level"
                 data-target="Beginner"
                 data-action="click->filter#level"
                 class="dropdown-item"
                 >Beginner</a></li>
          <li><a data-filter-target="level"
                 data-target="Intermediate"
                 data-action="click->filter#level"
                 class="dropdown-item"
                 >Intermediate</a></li>
          <li><a data-filter-target="level"
                 data-target="Advanced"
                 data-action="click->filter#level"
                 class="dropdown-item"
                 >Advanced</a></li>
        </ul>
  </div>

</div>
