<div class="mt-4">
  <h5 class="mb-4">Upcoming Events</h5><%# render up to 3 cards with upcoming events here %>

  <% @group.events.each do |event| %>
    <%= render "shared/event_card_long", event: event %>
  <% end %>
</div>
