<%= render "shared/home_banner" %>

<div class="container">
  <%= render "shared/category_bar" %>

  <h2>The top events in <%= @city %></h2>

  <% @events.each do |event| %>
    <%= render "shared/event_card_long", event: event %>
  <% end %>
</div>
