.event-cards-long {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.event-card-long {
  background-color: #FFFFFF;
  display: flex;
  width: 360px;
  height: 160px;
  margin: 20px 0px 0px 0px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 8px #d4d4d4;
}

.event-card-long-title {
  font-weight: bold;
  color: $gray;
  margin: 8px 0px;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.event-card-long-image {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.event-card-long-right {
  width: 100%;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.event-card-long-name {
  margin-top: 0;
}

.event-card-long-text {
  margin: 0px;
  font-size: 15px;
  color: #3d3d3d;
}
