.group-info {
  background-color: lightgrey;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  border-radius: 5px;
}

.btn {
  margin-bottom: 8px;
}

.group-info-card li{
  line-height: 1.0;
  padding-top: 12px;
}
