.group-cards-long {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.group-card-long {
  background-color: #FFFFFF;
  width: 360px;
  height: 250px;
  margin: 20px 0px 0px 0px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 8px #d4d4d4;
}

.group-card-long-title {
  font-weight: bold;
  color: $blue;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.group-card-long-image {
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.group-card-long-details {
  padding: 15px 15px;
  margin: 5px 0;

}

.event-card-long-name {
  margin-top: 0;
}

.event-card-long-text {
  margin: 0px;
  font-size: 15px;
}
