.group-cards-long {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.group-card-long {
  background-color: #FFFFFF;
  width: 360px;
  height: 180px;
  margin: 20px 0px 0px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

h5 {
  font-weight: bold;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.group-card-long-image {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.group-card-long-details {
  padding: 10px;
}

.event-card-long-name {
  margin-top: 0;
}

.event-card-long-location,
.event-card-long-members {
  margin: 5px 0;
  font-size: 15px;
}
