//style for the text result
.result-category{
  color: $primary;
}

//style for level and city filter dropdown button
.city-filter{
 margin-left:15px;
}
.filter-button{
  border-width: 1px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #8c9bb0;
  padding: 8px;
  padding-left: 16px;
}

.filter-item{
  padding-right:7px;
  color:#8c9bb0;
}

.filter-selection {
  text-align: center;
  height: 20px;
  background-color: grey;
  border-radius: 20px;
  color: #fff;
  font-size: 13px;
  margin-top: 10px;
}
