body{
  font-family: sans-serif;
}
h1{
  font-weight: 100;
}
.container-fluid{
  max-width: 100%;
}
.category-container{
  position: sticky;
  top: 0;
  width: 100%;
  display:block;
  overflow:hidden;
}
.cards-container {
  width:90%;
  margin-left:5%;
}
.carousel{
  display:block;
  width: 100%;
  height: 50px;
  background: white;
  overflow-x: scroll;
  padding: 10px;
  margin: 0;
  white-space: nowrap;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  position: sticky;
  background-color: $orange;
  border-radius: 0px;
}
.category-event-cards {
  margin-top:-3%;
}
.item {
    display: inline-block;
    width:70px ;
    margin: 0 10px;
    height: 0%;
    background: rgba(0, 0, 0, 0.05) no-repeat center center;
    background-size: cover;
    position:relative;
    border-radius: 100px;
    box-shadow: 0 0 10px #dfdfdf;
}
.item div{
  width: 100%;
  top:10%;
  position:absolute;
  text-align:center;
  font-size: 9em;
  color: white;
}
.item h1{
  top: 50%;
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 0.8em;
}
