body{
  font-family: sans-serif;
}
h1{
  font-weight: 100;
}
.container-fluid{
  max-width: 100%;
}
.category-container{
  position: sticky;
  top: 0;
  width: 100%;
  display:block;
  overflow:hidden;
}

.index-category-bar{
  display:block;
  width: 100%;
  // height: 50px;
  overflow-x: scroll;
  padding-left: 10%px;
  margin: 0;
  white-space: nowrap;
  // border-top: 2px solid rgba(0, 0, 0, 0.1);
  // border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  position: sticky;
  align-items: center;
  // display: flex;
  border-radius: 0px;
}
/* Versteckt die Scrollbar für Chrome, Safari und Opera */
.index-category-bar::-webkit-scrollbar {
  display: none;
}

/* Versteckt die Scrollbar für IE und Edge */
.index-category-bar {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Für Firefox */
}


.item {
  display: inline-block;
  height: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
  background-size: cover;
  position:relative;
  // color: $primary;
}
// .item:hover {
// border:3px solid red;
// }

.category-label {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 20px;
  // margin-right: 10px;
  cursor: pointer;
  border: 1px solid #999;
  font-size: 20px;
  margin-top: 5px;
}

.catergory-label:hover {
  border:3px solid $primary;
}

.category-label:checked {
  background-color: #e0e0e0;
  border: 1px solid $primary;

}

.category-checkbox:checked + .category-label {
  background-color: #007bff;
  color: #fff;
  border: 1px solid $primary;
  outline: 2px solid $primary;

}

.fa-solid {
  color: white;
}
