.navbar-teamup {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
}

.navbar-teamup .navbar-collapse {
  flex-grow: 0;
}

.navbar-teamup .navbar-brand img {
  width: 100px;
}
