.navbar-teamup {
  // justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
}

.navbar-teamup .navbar-brand img {
  width: 130px;
}

.avatar {
  margin-right: 5px;
  width: 40px;
  height: 40px;
}

.navbar-teamup h3 {
  margin: 0px;
}

.navbar-teamup li {
  line-height: 38px;
  font-size: 18px;
}
